*{
    margin:0;
    padding:0;
}

html{
    font-family:system-ui, -apple-system;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: border-box;
}

header {
    display:flex;
    justify-content: space-between;
    padding-inline:10%;
    padding-top:1.2rem;
    
}


header .FAQs{

    margin-inline: 1rem;
}
header .listing{
    margin-right: 1rem;
}

header .FAQs,header .sign-in,header .listing, header .contact{
border: 1px solid ;
padding:0.44rem 1rem;
border-radius: 55px;
font-size: 0.8rem;
font-weight: 500;
text-decoration: none;
color: black;
transition: 0.2s;
box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

header .FAQs:hover,header .sign-in:hover,header .listing:hover, header .contact:hover{
    color:grey ;
    background-color:lightblue;
    scale:1.05;
}

@media (width<600px){
    .logo{
        display: none;
    }
    header{
        justify-content: center;
        padding-inline:0;
    }
    .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:1rem;
    }
}
main section.car{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 2rem 1.4rem;
    & article.card{
    border-radius: 20px;
    box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition:0.2s ;

    }
    & article.card:hover{
        scale:1.05;
    }
    &img{
        border-radius: 5px 5px 0 0;
    }
    & .card.cont{
        border-color: white;
        border-radius: 0 0 5px 5px;
    }
}
main section h1.title{
    padding-top: 0.7rem;
    padding-inline: 0.4rem;
    text-transform: capitalize;
}
main section p.description{
    padding-inline:0.4rem;
    font-size:0.8rem;
    margin-top:0.4rem;
    margin-bottom:0.6rem;
    line-height:1.1rem;
}
main section div.price{
    margin-left: 0.88rem;
    font-size: 0.9rem;
    color:red;
    font-weight:bold;

}
main button {
    margin-right:0.88rem;
    margin-bottom:0.5rem ;
    background-color:#1976d2;
    color:white;
    border-radius: 3.5px;
    padding:6px 8px;
    font-size:0.7rem;
    gap:0.33rem;
    border:2px solid #1976d2;
    cursor: pointer;
    box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition:0.2s ;

}

main button:hover{
    background-color: lightgreen;
    border:2px solid lightgreen;
    scale:1.05;
}

main section div.flex{
    display:flex;
    justify-content: space-between;

}
main{
    width: 100%;
    margin-inline: auto;
}
main h1{
    margin:2.3rem 0 2rem 2%;
    text-align: center;
}
@media(width <600px){
    main{
        width: 100%;
    }
    main h1{
        margin:2.3rem 0 2rem 0;
       font-size: 1.4rem;
    }
}
footer{
    text-align:center;
    background-color: rgb(6, 1, 79);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-block:1rem ;
    margin-top: 3rem;
    color:whitesmoke;
    font-size:17px;
    
}

